/*

!/.config
/.config/*

!/.config/awesome
!/.config/hypr
!/.config/waybar
!/.config/zathura

!/.config/tmux
!/.config/kitty
!/.config/wezterm

!/.config/nvim

!/.gitignore
!/.bash_aliases

!/README.md
