/*

!/.config
/.config/*

!/.config/awesome
!/.config/picom

!/.config/hypr

!/.config/waybar

!/.config/zathura
!/.config/flameshot

!/.config/tmux
!/.config/kitty
!/.config/wezterm

!/.config/nvim

!/.config/nix
!/.config/home-manager

!/.config/libinput-gestures.conf
!/.config/mimeapps.list

!/.gitignore
!/.bash_aliases
!/.inputrc

!/README.md
